*{
    box-sizing: border-box;
}

header{
    text-align: center;
    color: whitesmoke;
    background: rgb(48, 47, 47);
}

h4{
    text-align: center;
    color: whitesmoke;
}
aside{
    position: absolute;
    top: 7%;
    bottom: 0;
    background: grey;
    float: left;
    width: 25%;

}
.cityName{
    padding: 2% 5%;
    border-radius: 5%;
    border-bottom: 10px solid white;
}
.card{
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.set{
    width: 90%;
    margin: 5%;
}
section{
    width: 75%;
    float: right;
}
.rain{
    opacity:0.7;
    background-image: url(./images/Rain-Background.jpg);
}
.clear{
    background-image: url(./images/clearsky.jpg);
}
.snow{
    background-image: url(./images/snow.jpeg);
}
.thunderstorm{
    background-image: url(./images/thunderstorm.jpg)
}
.drizzle{
    background-image: url(./images/drizzle.jpg);
}
.foggy{
    background-image: url(./images/foggy.jpg);
}
.clouds{
    background-image: url(./images/clouds.jpg);
}