*{
    box-sizing: border-box;
}
html.body { 
    height:100%; 
}
header{
    text-align: center;
    color: whitesmoke;
    background: rgb(48, 47, 47);
}

h4{
    text-align: center;
    color: whitesmoke;
}
aside{
    background: grey;
    float: left;
    width: 25%;
}
section{
    width: 75%;
    float: right;
}